<%= form_with(model: work_hour) do |form| %>
  <% if work_hour.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_hour.errors.count, "error") %> prohibited this work_hour from being saved:</h2>

      <ul>
        <% work_hour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dtstart, style: "display: block" %>
    <%= form.datetime_field :dtstart %>
  </div>

  <div>
    <%= form.label :dtend, style: "display: block" %>
    <%= form.datetime_field :dtend %>
  </div>

  <div>
    <%= form.label :actual_working_minutes, style: "display: block" %>
    <%= form.number_field :actual_working_minutes %>
  </div>

  <div>
    <%= form.label :assignment_id, style: "display: block" %>
    <%= form.text_field :assignment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
