<div id="<%= dom_id work_hour %>">
  <p>
    <strong>Dtstart:</strong>
    <%= work_hour.dtstart %>
  </p>

  <p>
    <strong>Dtend:</strong>
    <%= work_hour.dtend %>
  </p>

  <p>
    <strong>Actual working minutes:</strong>
    <%= work_hour.actual_working_minutes %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= work_hour.assignment_id %>
  </p>

</div>
