<div id="<%= dom_id course %>">
  <p>
    <strong>Year:</strong>
    <%= course.year %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= course.term %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= course.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor %>
  </p>

  <p>
    <strong>Time budget:</strong>
    <%= course.time_budget %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
