<div id="<%= dom_id teaching_assistant %>">
  <p>
    <strong>Year:</strong>
    <%= teaching_assistant.year %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= teaching_assistant.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= teaching_assistant.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= teaching_assistant.grade %>
  </p>

  <p>
    <strong>Labo:</strong>
    <%= teaching_assistant.labo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= teaching_assistant.description %>
  </p>

</div>
